body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}
#contacto, #inicio, #confirmacion-envio{
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#contacto, #proyectos, #sobre-mi, #confirmacion-envio p{
    color: #212529;
}
#sobre-mi, #proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#inicio p{
    color: white;
    font-size: 16px;
}
.avatar{
    border-radius: 50%; 
    border: solid 10px; 
    color: white; 
    width: 270px;
    height: 270px;
}
#sobre-mi h2{
    color: #E20000;
}
#proyectos h3{
    font-size: 16px;
    background-color: #E20000;
    color: white;
}
#proyectos .proyecto p{
    font-size: 14px;
    height: 100px;
}
#proyectos img{
    height: 200px;
}
nav .active{
    border: 1px solid red;
    border-radius: 20px;
}
nav .nav-link{
    color: #282828;
    border-radius: 16px;
}
nav .fa-bars{
    color: #E20000;
}
nav .navbar-toggler{
    border: 1px solid #E20000;
}
.cv{
    border-radius: 20px;
    background-color: #E20000;
    width: 170px; 
    text-align: center;
}
.cv:hover{
    background-color: #370a6d;
}
h1{
    color: #E20000;
    font-size: 36px;
}
h2 {
    font-size: 24px
}
p{
    color: #212529;
    font-size: 16px;
}
.btn-rojo{
    background-color: #E20000;
    color: white;
    border: 0px;
    border-radius: 20px;
    font-weight: 100;
}
.btn-rojo:hover{
    background-color: #370a6d;
    color: white;
}
.btn-blanco{
    color: #370a6d;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none;
}
.btn-blanco:hover{
    color: white;
    background-color: #370a6d;
}
.btn-link{
    color: #E20000;
    text-decoration: none;
}
.btn-link:hover{
    color: #370a6d;
}
header{
    display: block;
}
.form-control{
    border-radius: 16px;
}
textarea{
    height: 150px;
}
#contacto footer, #contacto footer a, #confirmacion-envio footer, #confirmacion-envio footer a{
    color: white;
}
#proyectos footer, #proyectos footer a, #sobre-mi footer, #sobre-mi footer a, #inicio footer, #inicio footer a{
    color: #E20000;
}
#contacto footer a:hover, #inicio footer a:hover, #confirmacion-envio footer a:hover{
    color: #370a6d;
}
#proyectos footer a:hover, #sobre-mi footer a:hover{
    color: #370a6d;
}
footer{
    position: static!important;
    font-weight: 100;
}
#contacto footer .fa-github, #confirmacion-envio footer .fa-github{
    font-size: 30px;
    color: white;
}
#proyectos .fa-github, #sobre-mi .fa-github, #inicio footer .fa-github{
    color: red;
    font-size: 30px;
}
footer .fa-linkedin-in{
    font-size: 24px;
    color: red;
    background-color: white;
    border: 0px;
    height: 36px;
    width: 36px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
footer .fa-whatsapp{
    font-size: 30px;
    color: white
}
.bloque-whatsapp{
    position: fixed;
    bottom: 0px;
    right: 80px;
    background-color: #370a6d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.div-cohete img{
    width: 260px;
}
.div-cohete img:hover{
    width: 270px;
}
#inicio .div-cohete{
    height: 400px;
}
.input-home{
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    padding: 0px 0px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0px !important;
}
#stack-tecnologico{
    background-color: rgba(184,37,20,1);
}
#idiomas-hobbies{
    background-color: #eee;
}
#idiomas-hobbies h2{
    color: #212529 !important;
}
.sepelios img{
    width: 150px; 
    height: 150px; 
    align-items: center;
}
.proveeduria img{
    width: 100px; 
    height: 100px; 
    margin-left: 20px;
}
.locutorio img{
    width: 120px;
    height: 120px;
    margin-left: 10px;
}
.agencia img{
    width: 120px; 
    height: 120px; 
    margin-left: 5px;
}
.sepelios h3, .proveeduria h3, .locutorio h3, .agencia h3, .formacion h3, .curso h3, .ingles h3{
    color: #6A6A6A; 
    font-size: 18px; 
    font-weight: 600;
}
.sepelios h4, .proveeduria h4, .locutorio h4, .agencia h4{
    color: #370a6d; 
    font-size: 17px;
}
.sepelios h5, .proveeduria h5, .locutorio h5, .agencia h5, .formacion h5, .curso h5, .ingles h5{
    color: #6A6A6A; 
    font-size: 14px
}
.formacion h4, .curso h4, .ingles h4{
    color: #E20000;
    font-size: 17px;
}
.sepelios img:hover, .proveeduria img:hover, .locutorio img:hover, .agencia img:hover{
    filter: sepia(25%);
}
@media (max-width: 750px) {

    #contacto, #inicio{
        background-image: url(../images/fondo-proyectos.png);
    }
    #contacto .fa-github,  #inicio .fa-github, #sobre-mi .fa-github{
        color: red;
    }
    #contacto footer, #contacto footer a, #inicio footer, #inicio footer a{
        color: red;
    }
   .avatar{
       width: auto;
    }
    .bloque-whatsapp{
        bottom: 0px;
        right: 70px;
        background-color: #370a6d;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .input-home p{
        text-align: center;
        color: #E20000 !important;
        border: 1px solid red;
        border-radius: 20px;
        padding-bottom: 12px;
        width: auto;
    }
    .div-cohete img{
        width: 200px;
    }
    .div-cohete img:hover{
        width: 210px;
    }
    #inicio .div-cohete{
        height: 300px;
    }
    .btn-blanco:hover{
        color: white;
        background-color: #370a6d;
    }
}